
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1200px;
  height: 800px;
  elevation: 2;
  border-radius: 10px;
  background-color:#EFEFEF;
  -webkit-box-shadow: 2px 2px 8px -1px rgba(150,150,150,1);
  -moz-box-shadow: 2px 2px 8px -1px rgba(150,150,150,1);
  box-shadow: 2px 2px 8px -1px rgba(150,150,150,1);
  text-overflow: ellipsis;
  word-wrap: break-word;
  
}

.boxResult {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top:2px;
  width: 750px;
  height: 800px;
  elevation: 2;
  border-radius: 10px;
  background-color:#EFEFEF;
  -webkit-box-shadow: 2px 2px 8px -1px rgba(150,150,150,1);
  -moz-box-shadow: 2px 2px 8px -1px rgba(150,150,150,1);
  box-shadow: 2px 2px 8px -1px rgba(150,150,150,1);
  text-overflow: ellipsis;
  word-wrap: break-word;

}

.boxInputs {
  margin-top: 10px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 1em;
  margin-left: 50px;
  background-color: 'red';
}
.boxInputs div {
  display: flex;
  flex-direction: column;
  margin: 2px;
}


.dropzone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 98%;
  margin-top: 10px;
  height: 250px;
  border-radius: 10px;
  border: dashed 2px #EB4B98;
  color:#999;
  font-size: larger;
  
}

.fileIcon {
  width: auto;
  height: 100px;
}

.result {
  width: 80%;
  height: 80%;
 
}

.buttonsResult {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
}