
.container-help {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

li {
  margin-top: 5px;
}

.container-help .boxhelp {
  display: flex;
  flex-direction: column;
  padding:20px;
  padding-top: 20px;
  padding-bottom: 30px;
  width: 900px;
  height: 600px;
  overflow-y: scroll;
  elevation: 2;
  border-radius: 10px;
  background-color: #FAFAFA;
  -webkit-box-shadow: 2px 2px 8px -1px rgba(150,150,150,1);
  -moz-box-shadow: 2px 2px 8px -1px rgba(150,150,150,1);
  box-shadow: 2px 2px 8px -1px rgba(150,150,150,1);
  text-overflow: ellipsis;
  word-wrap: break-word;
}
